.menu-mobile {
    display: none;
}
@media only screen and (max-width: 1200px){
    .navbar{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navbar .shoping{
        display: none;
    }
    .navbar .menu-bar{
        display: block;
        grid-column: 8/9;
        font-size: 2em;
        cursor: pointer;
    }
    .navbar .menu {
        display: none;
    }
    .menu-mobile{
        position: absolute;
        width: 100% important!;
        height: 70vh;
        /* display: grid; */
        align-items: center;
        background-color: #967dfb; 
        padding: 76px;
        /* transform: translateX(170%); */
        /* transition: all 0.8s; */
        position: absolute;
        /* padding: 20%; */
        height: 100vh;
        z-index: 1;
        
        right: 0;

    }
    .navbar .menu ul li {
        color: black;
    }
    .menu-toggle{
        display: block;
        transform: translateX(-4%);
        left: 0;
        width: 100%;
    }

    /* SECTION MAIN */
    .hero{
        background-image:linear-gradient(rgba(16, 16, 16, .4), rgba(16, 16, 16, .9)) , url(/img/pillo.jpeg);
        height: 100vh;
        width: 100vw;
        background-repeat: repeat-y;
    }

    .hero .info-content {
        grid-column: 2/10;
    }
}

